<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:55859/WCFBasicTriggerListener/TransportManager/2"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IWCFTriggerService"
                contract="IWCFTriggerService" 
                name="BasicHttpBinding_IWCFTriggerService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWCFTriggerService" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>